.App {
    background: skyblue;
    border: 1px solid pink;
    height: 100vh;
    display: grid;
    place-items: center;
    button {
        margin-top: 30px;
    }
    span {
        margin-left: 10px;
        margin-right: 10px;
    }
}